/*===========================header===========================================*/

#title {
  color: teal;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 50px;
  font-weight: 900;
  top: 0;

}

.navbar {
  background: white;
  position: relative;
  width: 100%;
  height: 75px;
}

/*========================= main body container ==============================*/

#add,
#current {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  word-spacing: expanded;
}

.container {
  background-image: url('../images/trainWallpaper.jpg');
  opacity: 0.8;
  width: 100%;
  clear: both;
}

body {
  background-image: url('../images/trainWallpaper.jpg');
  background-attachment: relative;
  background-position: center;
  font-style: none;
}

.panel {
  font-size: 18px;
}


.panel-title {
  font-size: 20px;
  font-family: 'Quattrocento Sans', sans-serif;
}

.train-list,
.form-group {
  font-family: 'PT Sans Caption', sans-serif;
}

/*=====================Current Train Schedule div=============================*/


#trainSchedule {
  float: left;
  text-align: left;
  margin-right: 7px;


}

.train-list {
  width: 820px;
  text-align: left;
}

.train-key {
  text-align: left;
}



/*============================ Add Train Div =================================*/

#addTrain {
  float: left;
  margin-bottom: 70px;


}

#submit-train {
  background-color: teal;
}

.background-switch {
  text-align: center;
  color: white;
  width: 100px;
  height: 40px;
  background-color: #4d1652;
}

.background-switch:hover {
  border-radius: 30px;
}

/*================================= footer ===================================*/
.footer {

}

.footer p {
margin-bottom: 0;
padding: 0;
}


.navbar-text {
text-align: center;
}

.footer img {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 0;
  padding: 0;
  bottom: 0;
}



/*================================= media queries ===================================*/

@media all and (max-width: 991px) {

    #current {
      text-align: left;

    }
    .panel {
      font-size: 10px;
    }


    .panel-title {
      font-size: 14px;
      font-family: 'Quattrocento Sans', sans-serif;
    }

    .train-list tbody{
        font-size: 10px;

    }

    td {
      width: 3%;
      padding: 0;
      margin: 1px;
    }

    h3.train-key {
      font-size: 12px;
      width: 10%;
    }

    #trainSchedule {
      margin-right: 0;
      padding-right: 0;
      right: 0;
      left:0;
      bottom: 0;
      top: 0;
    }
}

@media all and (max-width: 768px) {

    #current {
      text-align: left;
      margin-right: 0;
      padding-right: 0;

    }

    .panel {
      font-size: 10px;

    }

    .panel-title {
      font-size: 14px;
      font-family: 'Quattrocento Sans', sans-serif;

    }
    .train-list tbody{
        font-size: 10px;
        margin-right: 0;
        padding-right: 0;

    }
    td {
      width: 3%;
      padding: 0;
      margin: 1px;
      margin-right: 0;
      padding-right: 0;
    }
    h3.train-key {
      font-size: 12px;
      width: 10%;
      margin-right: 0;
      padding-right: 0;
    }
    .train-list {
      width: 700px;
      text-align: left;
      margin: 0;
      padding: 0;
    }

     #trainSchedule {
       margin-right: 0;
       padding-right: 0;
       right: 0;
       left:0;
       bottom: 0;
       top: 0;
       /* max-width: 750px; */
     }


}

@media all and (max-width: 440px) {

    #current {
      text-align: left;

    }
    .panel {
      font-size: 10px;
    }


    .panel-title {
      font-size: 14px;
      font-family: 'Quattrocento Sans', sans-serif;
    }

    .train-list tbody{
        font-size: 10px;

    }

    td {
      width: 3%;
      padding: 0;
      margin: 1px;
    }

    h3.train-key {
      font-size: 12px;
      width: 10%;
    }
    .train-list {
      width: 380px;
      text-align: left;
      margin: 0;
      padding: 0;
    }

    #trainSchedule {
      margin-right: 0;
      padding-right: 0;
      right: 0;
      left:0;
      bottom: 0;
      top: 0;
    }
}
