/*===========================header===========================================*/

#title {
  color: teal;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 50px;
  font-weight: 900;
  top: 0;
  text-align: center;

}



/*========================= main body container ==============================*/

#add,
#current {
  font-size: 25px;
  text-align: center;
  word-spacing: expanded;


}
.table-header{
  text-align: center;

}
/* .container {
  background-image: url('../images/trainWallpaper.jpg');
  opacity: 0.8;
  width: 100%;
  clear: both;
} */

body {
  background-image: url('../images/trainWallpaper.jpg');
  background-attachment: relative;
  background-position: center;
  font-style: none;
}


.panel {
  font-size: 18px;
}


.train-list,
.form-group {
  font-family: 'PT Sans Caption', sans-serif;
}

/*=====================Current Train Schedule div=============================*/


#trainSchedule {
  background-color: white;
  opacity: 0.8;
  clear: both;

}

/* .train-list {
  width: 820px;
  text-align: left;
} */

.train-key {
  text-align: left;
}



/*============================ Add Train Div =================================*/

#addTrain {
  justify-content: center;
  margin-bottom: 70px;
  background-color: white;
  opacity: 0.8;

}

#submit-train {
  background-color: teal;
}

.background-switch {
  text-align: center;
  color: white;
  width: 100px;
  height: 40px;
  background-color: #4d1652;
}

.background-switch:hover {
  border-radius: 30px;
}

/*================================= footer ===================================*/
.footer {
clear: both;
background-color: white;
padding: 1em;
text-align: center;


}


/*================================= end of css file===================================*/
